.popup__button-save{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  margin: 19px 0 0 0 ;
  min-height: 50px;
  border: none;
  cursor: pointer;
  outline: none;
}

.popup__button-save:hover{
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width:350px){
  .popup__button-save{
    font-size: 14px;
    line-height: 17px;
    margin: 7px 0 0 0 ;
  }
}
