@import url('./__avatar/profile__avatar.css');
@import url('./__name/profile__name.css');
@import url('./__title/profile__title.css');
@import url('./__button-add-plus/profile__button-add-plus.css');
@import url('./__button-add/profile__button-add.css');
@import url('./__button-edit-pencil/profile__button-edit-pencil.css');
@import url('./__button-edit/profile__button-edit.css');
@import url('./__info/profile__info.css');
@import url('./__alignment/profile__alignment.css');
@import url('./__avatar-overlay/profile__avatar-overlay.css');
@import url('./__avatar-pencil/profile__avatar-pencil.css');
.profile{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0 50px;
  align-items: center;
}

.profile:nth-child(2){
  justify-content: flex-start;
}

@media screen and (max-width:882px){
  .profile{
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width:600px){
  .profile{
    margin: 40px 0 36px;
  }
}
