.popup__button-close{
  transform: rotate(45deg);
  border: none;
  width: 40px;
  background-image: url('../../../images/add-button.svg');
  height: 40px;
  background-color: unset;
  padding: 0;
  position: absolute;
  top: -40px;
  right: 6px;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  outline: none;

}
.popup__button-close:hover{
  opacity: 0.6;
}

@media screen and (max-width:550px){
  .popup__button-close{
    height: 30px;
    width: 30px;
    top: -30px ;
    right: 14px ;
  }
}
/* @media screen and (max-width:340px){
  .popup__button-close{
    top: -9px;
    right: -7px;
  }
} */
