.popup__input{
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.2);
  font-size: 14px;
  line-height: 30px;
  color: black;
  margin: 0 0 29px 0;
  padding: 0;
}

@media screen and (max-width:350px){
  .popup__input{
    font-size: 12px;
    line-height: 15px;
  }
}
