.profile__avatar-overlay{
width: 100%;
border-radius: 50%;
}

.profile__avatar-overlay:hover {
  display: flex;
  background: rgba(0,0,0, 0.8) url('../../../images/avatar-pencil.svg') center no-repeat;
  width: 100%;
  justify-content: center;
  display: flex;
}
